.myBtn {
    background-color: #04ab33;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.myBtn:hover {
    background-color: #06ff47;
}